.popup__input-error {
    font-size: 12px;
    line-height: 15px;
    min-height: 15px;
    display: inline-block;
    color: #FF0000;
    opacity: 0;
}

.popup__input-error_active {
    opacity: 1;
}

