.card__trash-button {
  background-image: url(../../../images/trash-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 20px;
  min-height: 18px;
  background-size: contain;
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
  transition: 0.4s ease-in-out;
}

.card__trash-button:hover {
  opacity: 0.6;
}