.card__like-button {
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 20px;
  min-height: 18px;
  background-size: contain;
  background-color: #ffffff;
  margin-right: 21px;
  border: none;
  cursor: pointer;
  line-height: 0;
  transition: 0.4s ease-in-out;
}

.card__like-button:hover {
  opacity: 0.5;
}