.profile__description {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}

@media screen and (max-width: 500px) {
  .profile__description  {
    margin-bottom: 14px;
  }
}