.popup__submit-button_inactive {
  opacity: 0.2;
  background: transparent;
  border-radius: 2px;
  border: 1px solid #000000;
  color: #000000;
  pointer-events: none;
  user-select: none;
}
.popup__submit-button_inactive:hover {
  background: transparent;
}
